---
import ArticleDetail from "./ArticleDetail.astro";

interface Props {
    ref?: string;
    frontmatter: Record<string, any>;
}

const { ref, frontmatter } = Astro.props;
---

<style>
    li.article-li {
        list-style-type: none;
    }
    span.article-li-header {
        font-size: larger;
        font-weight: normal;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        line-height: 2em;
    }
</style>

<li class="article-li">
    <div class="article-info">
        <span class="article-li-header">
            <a href={ref}>{frontmatter.title}</a>
        </span>
        <ArticleDetail frontmatter={frontmatter} />
    </div>
</li>
