---
import ArticleLink from "./ArticleLink.astro";

const articles = await Astro.glob("/src/pages/articles/*.mdx");
---

<style>
    ul.article-ul {
        padding-left: 0;
        padding-top: 1.25em;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
    }
</style>

<div>
    <ul class="article-ul">
        {
            articles
                .sort((a, b) => a.frontmatter.date - b.frontmatter.date)
                .filter((a) => a.frontmatter.pinned)
                .map((art) => (
                    <ArticleLink ref={art.url} frontmatter={art.frontmatter} />
                ))
        }
        <hr />
        {
            articles
                .sort((a, b) => a.frontmatter.date - b.frontmatter.date)
                .filter((a) => !a.frontmatter.pinned)
                .map((art) => (
                    <ArticleLink ref={art.url} frontmatter={art.frontmatter} />
                ))
        }
    </ul>
</div>
