---
import GraphicDetail from "./GraphicDetail.astro";

interface Props {
    ref?: string;
    frontmatter: Record<string, any>;
}

const { ref, frontmatter } = Astro.props;
---

<style>
    li.graphic-li {
        list-style-type: none;
    }
    span.graphic-li-header {
        font-size: larger;
        font-weight: normal;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        line-height: 2em;
    }
</style>

<li class="graphic-li">
    <div class="graphic-info">
        <span class="graphic-li-header">
            <a href={ref}>{frontmatter.title}</a>
        </span>
        <GraphicDetail frontmatter={frontmatter} />
    </div>
</li>
