---
import GraphicDetail from "./GraphicDetail.astro";

interface Props {
    ref?: string;
    frontmatter: Record<string, any>;
}

const { ref, frontmatter } = Astro.props;
---

<style>
    h3.graphic-li-header {
        font-weight: normal;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-bottom: none;
    }
</style>

<div class="graphic-li">
    <div class="graphic-info">
        <h3 class="graphic-li-header">
            <a href={ref}>{frontmatter.title}</a>
        </h3>
        <GraphicDetail frontmatter={frontmatter} />
    </div>
</div>
