---
import PhotoLink from "./PhotoLink.astro";

const photos = await Astro.glob("/src/pages/photos/*.mdx");
---

<style>
    ul.photo-ul {
        padding-left: 0;
        padding-top: 1.25em;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
    }
</style>

<div>
    <ul class="photo-ul">
        {
            photos.filter(img => img.frontmatter.featured).map((img) => (
                <PhotoLink ref={img.url} frontmatter={img.frontmatter} />
            ))
        }
        <hr />
        {
            photos.filter(img => !img.frontmatter.featured).map((img) => (
                <PhotoLink ref={img.url} frontmatter={img.frontmatter} />
            ))
        }
    </ul>
</div>
