---
import PhotoDetail from "./PhotoDetail.astro";

interface Props {
    ref?: string;
    frontmatter: Record<string, any>;
}

const { ref, frontmatter } = Astro.props;
---

<style>
    li.photo-li {
        list-style-type: none;
    }
    span.photo-li-header {
        font-size: larger;
        font-weight: normal;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        line-height: 2em;
    }
    span.featured-icon {
        font-size: smaller;
        margin-left: 0.5em;
        cursor: help;
    }
</style>

<li class="photo-li">
    <div class="photo-info">
        <span class="photo-li-header">
            <a href={ref}>{frontmatter.title}</a>
        </span>
        <PhotoDetail frontmatter={frontmatter} />
    </div>
</li>
