@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans tracking-wide my-10 mx-auto px-8 bg-background-light text-foreground-light dark:text-foreground-dark dark:bg-background-dark;
}

header {
  @apply mb-8;
}

main {
  @apply sm:w-full md:w-256 mx-auto text-foreground-light dark:text-foreground-dark;
}

main>*:not(.no-pad),
section.md-block>*,
details>*:not(summary):not(.no-pad) {
  @apply mb-4 mt-2;
}

div.new-li {
  @apply -mb-1 -mt-3 marker:text-accent-light dark:marker:text-accent-dark;
}

h1 {
  @apply text-2xl font-semibold;
}

h2 {
  @apply text-xl font-medium;
}

h3 {
  @apply text-lg font-bold;
}

a,
details>summary,
.button {
  @apply text-accent-light dark:text-accent-dark hover:underline cursor-pointer;
}

.button-bg {
  @apply bg-shadow-light dark:bg-shadow-dark bg-opacity-15 dark:bg-opacity-15 rounded-md mb-2;
}

.buttonish {
  @apply button-bg px-2 py-1 select-none;
}

details {
  summary {
    @apply list-none;
  }

  summary {
    @apply list-none pt-0.5 pb-1.5 px-3 select-none;

    p {
      @apply inline;
    }
  }

  summary:before {
    @apply mr-2 text-xl no-underline;
    content: "»";
  }
}

details.toc summary {
  @apply px-0.5;
}

details.toc>* {
  @apply relative bottom-4;
  margin-bottom: -1rem;
}

details[open] {
  summary:not(.toc-heading) {
    @apply button-bg;
  }

  summary.toc-heading {
    @apply mb-1;
  }

  summary:before {
    content: "«";
  }
}

.button {
  @apply px-2 py-1;
}

.button.selected {
  @apply bg-shadow-light dark:bg-accent-dark bg-opacity-15 dark:bg-opacity-15 rounded-md mb-2;
}

li {
  @apply my-1 list-outside ml-5 pl-2 marker:text-shadow2-light dark:marker:text-shadow2-dark tracking-wide;

  p {
    @apply inline;
  }
}

ul>li {
  @apply list-disc;
}

ol>li {
  @apply list-decimal;
}

pre,
code:not(pre *),
.astro-code,
kbd {
  @apply bg-shadow-light dark:bg-shadow-dark bg-opacity-25 dark:bg-opacity-10 text-sm
  /* dark:bg-opacity-50 */
  py-0.5 px-1 rounded-sm !important;
}

.astro-code {
  color: var(--shiki-dark) !important;
  /* @apply bg-[#151515] !important; */
}

pre,
.astro-code {
  @apply px-4 py-2 rounded-md !important;
}

@media (prefers-color-scheme: dark) {
  .astro-code {
    color: var(--shiki-dark) !important;
  }
}

section.footnotes {
  @apply border-t-shadow-dark dark:border-t-shadow-dark border-t border-opacity-75 dark:border-opacity-50 mt-6 pt-6 text-sm;

  h2 {
    @apply hidden;
  }
}

img {
  @apply mb-2 opacity-90 hover:opacity-100 rounded-md text-opacity-0 bg-shadow-light dark:bg-shadow-dark bg-opacity-20 dark:bg-opacity-20;
}

img.badge {
  image-rendering: pixelated;
  @apply rounded-none opacity-100 hover:opacity-100;
}

table {

  th,
  td {
    @apply px-1.5 pr-3 py-1 border border-shadow-light dark:border-shadow-dark border-opacity-40 dark:border-opacity-40;
  }

  th {
    @apply bg-shadow-light dark:bg-shadow-dark bg-opacity-20 dark:bg-opacity-20 text-left;
  }
}

hr {
  @apply border-shadow-dark dark:border-shadow-dark border-opacity-75 dark:border-opacity-50 py-1;
}

mark {
  @apply text-foreground-light dark:text-foreground-dark bg-accent-light dark:bg-accent-dark rounded-sm bg-opacity-30 dark:bg-opacity-30;
}

span.hovertext {
  @apply decoration-dotted underline cursor-help;
}

li:target,
a:target {
  @apply bg-accent-light bg-opacity-20 dark:bg-accent-dark dark:bg-opacity-20 rounded-sm;
}

a:target {
  @apply bg-opacity-40 dark:bg-opacity-40;
}

input {
  @apply rounded-sm px-2 py-1 bg-shadow-light dark:bg-shadow-dark bg-opacity-20 dark:bg-opacity-20;
}

blockquote {
  @apply ml-4 font-normal
}