---
import Root from "../layouts/root.astro";
---

<Root title="jahinzee">
  <main class="lg:w-256">
    <script>
      setTimeout(() => {
        window.location.replace("/garden/home");
      }, 1000);
    </script>
    <a href="/garden/home" class="text-xl">Looking for the Garden?</a>
    <p>
      You'll be redirected in a moment, or you can click on the big link above.
    </p>
  </main>
</Root>
