---
import Root from "../layouts/root.astro";
import Footer from "../components/footer.astro";
import Logo from "../components/logo.astro";

import { Content } from "../assets/text/privacy.md";
---

<Root title="Privacy Policy ­— jahinzee">
  <header>
    <Logo small={false} />
  </header>
  <main>
    <Content />
  </main>
  <Footer />
</Root>
