@charset "UTF-8";

body{
  background-color: #000000;
  font-family: monospace;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
} a:link{
  color: #ffffff;
  text-decoration: none;
} a:visited{
  color: #ffffff;
  text-decoration: none;
} a:hover{
  color: #ffffff;
  text-decoration: none;
} a:active{
  color: #ffffff;
  text-decoration: underline;
}
