@charset "UTF-8";

body{
  background-color: #2c3850;
  font-family: monospace;
  font-size: 14px;
  color: #ffffff;
} a:link{
  color: #ffffff;
  text-decoration: none;
} a:visited{
  color: #ffffff;
  text-decoration: none;
} a:hover{
  color: #ffffff;
  text-decoration: none;
} a:active{
  color: #ffffff;
  text-decoration: underline;
}
