@charset "UTF-8";

body{
  background-color: #715b81;
  font-family: monospace;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
} a:link{
  color: #FFFFFF;
  text-decoration: bold;
} a:visited{
  color: #FFFFFF;
  text-decoration: bold;
} a:hover{
  color: #FFFFFF;
  text-decoration: bold, underline;
} a:active{
  color: #FFFFFF;
  text-decoration: bold, underline;
}
