---

---

<div class="flex md:flex-row flex-col gap-6">
    <div>
        <h2>Mine</h2>
        <div class="pt-3">
            <a href="/badge-source.txt">
                <img
                    alt="jahinzee's Web badge"
                    class="badge"
                    src="/88x31.gif"
                />
            </a>
        </div>
    </div>
    <div>
        <h2>Others</h2>
        <div class="flex gap-2 pt-3 flex-wrap">
            <a href="https://fedoraproject.org/">
                <img
                    class="badge"
                    alt="Powered by Fedora"
                    title="Powered by Fedora"
                    src="/88x31/poweredbyfedora.gif"
                    height="31"
                    width="88"
                /></a
            >
            <img
                class="badge"
                alt="Best Viewed with Any Browser"
                title="Best Viewed with Any Browser"
                src="/88x31/bestviewedwithanybrowser.gif"
                height="31"
                width="88"
            />
            <img
                class="badge"
                alt="This site is 100% certified cookie free!"
                title="This site is 100% certified cookie free!"
                src="/88x31/cookiefree.png"
                height="31"
                width="88"
            />
            <a href="https://archive.org/">
                <img
                    class="badge"
                    alt="Internet Archive"
                    title="Internet Archive"
                    src="/88x31/internetarchive.png"
                    height="31"
                    width="88"
                /></a
            >
            <a href="https://ooo.eeeee.ooo/">
                <img
                    class="badge"
                    alt="This site is MIKU APPROVED"
                    title="This site is MIKU APPROVED"
                    src="/88x31/miku.png"
                    height="31"
                    width="88"
                /></a
            >
        </div>
    </div>
</div>
