---

---

<div class="alig">
    <object
        data="/email.svg"
        type="image/svg+xml"
        style="
            font-family: monospace;
            display: block;
            height: 2.25rem;
            margin: auto;"
    >
    </object>
</div>
