---
import Main from "../../layouts/main.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const pages = await getCollection("garden");

    return pages.map((page: any) => ({
        params: { id: page.id },
        props: { page },
    }));
}

const { page } = Astro.props;
const { Content, headings } = await render(page);

const pageTitle = page.body
    .split("\n")
    .find((line: string) => line.startsWith("# "))
    .substring(2);

const { published, updated, useToc, useKatex } = page.data;
---

<Main title={`${pageTitle} — jahinzee/Garden`} 
      loadKatex={useKatex ?? false}
      subsection="Garden"
      subsectionAnchor="/garden/home">

    <section id="details" class="text-sm text-shadow-light dark:text-shadow-dark flex flex-wrap gap-2">
        {
            page.id !== "home" ?
            <a href="/garden/home" class="ri-arrow-left-s-line whitespace-nowrap">
                <span class="font-sans">Home</span>
            </a>
            <span class="select-none ml-0.5">·</span>
            : null
        }
        <span id="published">
            Published: {published.toISOString().substring(0, 10)}
        </span>
        {
            updated ? (
                <span class="select-none ml-0.5">·</span>
                <span id="updated">
                    Updated: {updated.toISOString().substring(0, 10)}
                </span>
            ) : null
        }
    </section>
    { useToc ?
    <section id="table-of-contents" class="text-sm">
        <details class="toc">
            <summary class="toc-heading open:text-500">Table of contents</summary>
            <ul class="button-bg bg-opacity-10 dark:bg-opacity-10 px-4 py-2" style="margin-top: -0.25rem; margin-bottom: -0.5rem">
                {headings
                    .filter((h: any) => h.depth != 1 && h.slug !== "footnote-label")
                    .map((h: any) =>
                        <li style={`margin-left: ${(h.depth-1)}em`}>
                            <a href={`#${h.slug}`}>{h.text}</a>
                        </li>)}
            </ul>
        </details>
    </section> : null}
    <Content />
</Main>
